@import './breakpoints';
@import './typography';

:root {
  --black: #000000;
  --blue: #071E3A;
  --gray: #838383;
  --white: #FEFEFE;
  --red: #DB0A40;
  --green: #159D48;

  // font sizes
  --size-title: 34px;
  --size-subtitle: 30px;
  --size-text: 14px;
  --size-xxl: 120px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --black: #000000;
    --blue: #071E3A;
    --gray: #838383;
    --white: #ededed;
    --red: #DB0A40;
    --green: #159D48;

    // font sizes
    --size-title: 34px;
    --size-subtitle: 30px;
    --size-text: 14px;
    --size-xxl: 120px;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--blue);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: var(--blue);
  font-family: 'BullText';
}

a {
  color: inherit;
  text-decoration: none;
  font-size: var(--size-text);
}

p {
  font-size: var(--size-text);
}

h2 {
  font-family: 'Futura';
  font-size: var(--size-title);
  font-weight: 900;
  text-transform: uppercase;
}

h3, h4 {
  font-family: 'Futura';
  font-weight: 900;
  font-size: var(--size-subtitle);
  text-transform: uppercase;
}

button {
  width: fit-content;
  min-width: 85px;
  margin: 0 auto;
  cursor: pointer;
  background-color: var(--red);
  border: none;
  color: var(--white);
  border-radius: 50px;
  padding: 12px 18px;
  font-family: 'BullText';
  &:disabled {
    background-color: var(--gray);
  }
}