.poseestimation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 640px;
  height: 480px;
  &__webcam {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  &__canvas {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}