.welcome {
  text-align: center;
  height: 100%;
  padding: 85px 28px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  border-radius: var(--border-radius);

  background-image: url('/images/backgrounds/background.png');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;

  &__text {
    width: 80%;
    margin: 0 auto;
  }
}